@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import "./variables.scss";
@import "./price-tables.scss";

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: $background-color;
}

button {
  cursor: pointer;
}
