.price-tables {
  background-color: $color-black;
  color: $text-color-white;

  &__container {
    height: 100vh;
    gap: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.price-card {
  width: 380px;
  max-height: 770px;
  background: $color-asphalt;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
  text-align: center;

  &__title {
    margin-top: 33px;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
  }

  &__title-less {
    font-size: 20px;
    margin-bottom: 33px;
  }

  &__price {
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    padding: 19px 0;
  }

  &__description {
    margin: 40px 26px;
    line-height: 18px;
  }

  &__options-list {
    :nth-child(odd) {
      background-color: $color-dark-grey;
    }
  }

  &__options-list-item {
    text-align: left;
    padding: 15px 59px 17px 59px;
    max-height: 50px;
  }
}

.basic__card {
  &-price {
    background-color: $color-green-light;
  }

  &-checkmark {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
      no-repeat 22px 17px;
  }

  &-button {
    background-color: $color-green-light;
  }
}

.business__card {
  position: relative;

  &-price {
    background-color: $color-blue;
  }
  &-checkmark {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
      no-repeat 22px 17px;
  }
  &-button {
    background-color: $color-blue;
  }

  &-popular-img {
    position: absolute;
    top: -18px;
    right: -18px;
  }
}
.webshop__card {
  &-price {
    background-color: $color-orange;
  }

  &-checkmark {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
      no-repeat 22px 17px;
  }

  &-button {
    background-color: $color-orange;
  }
}
