$color-black: #000;
$color-asphalt: #334247;
$color-dark-grey: #2a343880;
$color-green-light: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;

$text-color-white: #fff;

$background-color: #141B1C;